* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #fffafc;
    color: #333;
}

header {
    background: #fff;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  padding: 15px 50px;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.logo {
  color: #ff6f91;
  font-size: 1.6em;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 2em;
}

.nav-links a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
}

.nav-links a:hover {
  color: #ff6f91;
}

.hero {
    background-image: url('https://ichef.bbci.co.uk/food/ic/food_16x9_1600/recipes/birthday_chocolate_24628_16x9.jpg');
    background-size: cover;
    background-position: center;
    color: white;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 20px;
}

.hero::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 89vh;
  background: rgba(0, 0, 0, 0.4);
}

.hero-text {
  position: relative;
  z-index: 2;
}

.hero h2 {
  font-size: 2.5em;
  margin-bottom: 10px;
}

.hero p {
  font-size: 1.2em;
  margin-bottom: 20px;
}

.btn {
  background-color: #ff6f91;
  color: #fff;
  padding: 10px 25px;
  text-decoration: none;
  border-radius: 30px;
  transition: 0.3s;
}

.btn:hover {
  background-color: #ff4d6d;
}

.cakes {
  text-align: center;
  padding: 60px 20px;
}

.cakes h2 {
  margin-bottom: 30px;
  color: #ff4d6d;
}

.cake-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.cake-card {
  background: #fff;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  width: 250px;
  padding: 15px;
  transition: transform 0.3s;
  height: 450px;
}

.cake-card img {
  width: 100%;
  border-radius: 10px;
  height: 70%;
}

.cake-card:hover {
  transform: translateY(-8px);
}

.cake-card h3 {
  margin-top: 15px;
  color: #333;
}

.cake-card p {
  color: #ff6f91;
  font-weight: bold;
}

.about {
  background: #fff0f3;
  padding: 60px 30px;
  text-align: center;
}

.about h2 {
  color: #ff4d6d;
  margin-bottom: 20px;
}

.contact {
  text-align: center;
  padding: 50px 20px;
}

.contact h2 {
  color: #ff4d6d;
  margin-bottom: 15px;
}

footer {
  background: #ff6f91;
  color: white;
  text-align: center;
  padding: 15px;
}

.quote {
  background: #fff0f3;
  text-align: center;
  padding: 40px 20px;
  font-style: italic;
  font-size: 1.4em;
  color: #ff4d6d;
}